<%- include('partials/header.ejs') %>
    
<div class="container">

    <main>
        <div class="mt-5">
            <div class="bg-secondary text-secondary px-4 py-5 text-center">
                <div class="py-5">
                    <h1 class="display-5 fw-bold text-white">About Us</h1>
                    <div class="col-lg-6 mx-auto bg">
                        <p class="fs-5 mb-4 text-white">We are an online learning platform set to bringing 
                            the best knowledge to your screens in the simplest and most basic way possible so as to make learning easier</p>
                    </div>
                </div>
          </div>
        </div>

    </main>


</div>


<%- include('partials/footer.ejs') %>