<%- include('partials/header.ejs') %>
    
    <main>

        <div>

            <div class="container px-4 py-5" id="hanging-icons">
                <h1 class="pb-2 border-bottom">Courses</h1>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                  <div class="col d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                      <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
                    </div>
                    <div>
                      <h2>Crash Course</h2>
                      <p>Everything you need to know in one fast paced lesson, zero to hero in no time</p>
                      <a href="#" class="btn btn-primary">
                        View More
                      </a>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                      <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
                    </div>
                    <div>
                      <h2>Basic Courses</h2>
                      <p>Courses for absolute beginners who have no experience at all</p>
                      <a href="#" class="btn btn-primary">
                        View More
                      </a>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                      <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
                    </div>
                    <div>
                      <h2>Intermediate Courses</h2>
                      <p>Introducing some technicalities to help sharpen your skills and get you acquainted to the system</p>
                      <a href="#" class="btn btn-primary">
                        View More
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container px-4 py-5" id="hanging-icons">
                <!-- <h2 class="pb-2 border-bottom">Hanging icons</h2> -->
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                  <div class="col d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                      <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
                    </div>
                    <div>
                      <h2>Advanced Courses</h2>
                      <p>This course is for those who have core knowledge and experience, basic terminologies would not be taught in this course</p>
                      <a href="#" class="btn btn-primary">
                        View More
                      </a>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                      <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
                    </div>
                    <div>
                      <h2>Extra Curricular</h2>
                      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                      <a href="#" class="btn btn-primary">
                        View More
                      </a>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                      <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
                    </div>
                    <div>
                      <h2>Quizzes</h2>
                      <p>Test how much you've improved through quizzes and hands-on projects</p>
                      <a href="#" class="btn btn-primary">
                        View More
                      </a>
                    </div>
                  </div>
                </div>
              </div>

        </div>

    </main>


<%- include('partials/footer.ejs') %>