<%- include('partials/header.ejs') %>
    
    <!-- <div class="container">

        <h1 class="mt-5 mb-5">FAQS</h1>

    </div> -->

    <!-- <div class="p-3 bg-dark text-white mt-5">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

          </div>
        </div>
    </div> -->

    <div class="container">

        <main>
            <div class="mt-5">
                <div class="bg-secondary text-secondary px-4 py-5 text-center">
                    <div class="py-5">
                        <h1 class="display-5 fw-bold text-white">FAQs</h1>
                        <div class="col-lg-6 mx-auto">
                            <p class="fs-5 mb-4 text-white">Join our forum to get answers to your questions and other common questions about our 
                                services. Forums are open 24/7 and answers to frequentlt asked questions are compiled in our archives, so do well to 
                                check those out or ask any certified community member for answers or ask the moderators themselves</p>
                            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                <a href="/auth/login" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Join Forum</a>
                                <a href="/auth/register" class="btn btn-outline-light btn-lg px-4 me-sm-3">View Archives</a>
                                <a href="/auth/login" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Talk to moderators</a>
                            </div>
                        </div>
                    </div>
              </div>
            </div>

        </main>


    </div>

<%- include('partials/footer.ejs') %>