<%- include('partials/header.ejs') %>
    
    <div class="container">

        <main>
            <div class="mt-5">
                <div class="bg-dark text-secondary px-4 py-5 text-center">
                    <div class="py-5">
                        <h1 class="display-5 fw-bold text-white">iScholar.</h1>
                        <div class="col-lg-6 mx-auto">
                            <p class="fs-5 mb-4">You've reached the home page of iScholar, your number one site for the best
                                 learning experience, feel free to surf through our vast variety of courses, find which one 
                                 best suites you and boost your knowledge a great deal within a short period of time with our easy to follow curriculum.
                                 log in your details to get back on track with your learning or create an account to get started.</p>
                            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                 <a href="/courses" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">View Courses</a>
                            </div>
                        </div>
                    </div>
              </div>
            </div>

        </main>


    </div>


<%- include('partials/footer.ejs') %>